body
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: "img/morning.jpg";
}


hr
{
	width: 50%;
}


#inputText{
	font-size:16px;
    background: rgba(0, 0, 0, 0.37);
	color: white;
	margin: 0 auto;
	display: block;
    box-sizing: border-box;
    padding: 6px;
    width: 580px;
    height: 65px;
	resize: none;
    margin-top:10px;


}




.translate{
  border-radius: 30px;
  background: #BADA55;
  width: 40px;
  height: 40px;
  	padding: 5px;
	border-color: transparent;

  }


.share{
  	width: 50px;
	height: 50px;
	border-top-width: 0px;
		padding: 5px;

	padding-top: 0px;
  }

#footer{
	height: 35px;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
	width: 110px;
}

#footer img{
	float: left;
	cursor: pointer;

}



#currentTime
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	margin-top:60px;
	color: #fff;
	letter-spacing: -5px;
	font-size: 120px;
	font-weight: lighter;
}

#notification
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	font-weight: light;
}



