body
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: "img/morning.jpg";
}


hr
{
	width: 50%;
}


textarea{
	background: transparent;
	color: white;
	width: 80%;
	margin-left: 10%;
	height:20%;
}


.translate{
  border-radius: 30px;
  background: #BADA55;
  width: 40px;
  height: 40px;
  	padding: 5px;
	border-color: transparent;

  }


.share{
  	width: 50px;
	height: 50px;
	border-top-width: 0px;
		padding: 5px;

	padding-top: 0px;
  }

#footer{
	height: 35px;
    text-align:center;
    padding-left:45%;  
    padding-top: 10px;
}

#footer img{
	float: left;
	cursor: pointer;

}



#currentTime
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	margin-top:60px;
	color: #fff;
	letter-spacing: -5px;
	font-size: 120px;
	font-weight: lighter;
}

#notification
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	font-weight: light;
}



