body{
	width: 300px;
	margin: 0px;
}

.search-area{

}

#logo{
	width:260px;
	padding: 10px;
    padding-bottom: 30px;
}



#footer{
	 height: 35px;
    overflow: hidden;
    text-align:center;
}

#options select {
	outline:0;
		border: 0 !important;  /*Removes border*/
		-webkit-appearance: none;  /*Removes default chrome and safari style*/
		-moz-appearance: none; /* Removes Default Firefox style*/
		background: #DB8716 url(http://www.clker.com/cliparts/y/m/X/o/s/R/down-arrow-circle-hi.png) no-repeat 90% center;
		width: 200px; /*Width of select dropdown to give space for arrow image*/
		text-indent: 0.01px; /* Removes default arrow from firefox*/
		text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
		color: #FFF;
		padding: 5px;
		box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
		border-radius: 10px 0;
		background-size: 15px;

	}

/* Gradient transparent - color - transparent */
		
hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    margin-bottom: 5px;
}



.container
{	
	padding-left: 20px;
	padding-top: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background-color: gainsboro;


}

#options{
		padding-left: 20px

}

#options #lang{
	width:250px;
}

#btn
{
	width: 250px
}

#notification
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 150px;
	padding: 50px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

#inspiration
{
	line-height: 1;
	padding: 0;
	margin: 0;
	color: black;
	font-size: 19px;
	font-weight: bold;
}

#by
{
	font-style: italic;
 	padding-top:10%;
}

#day
{
 	font-size : 10px;
  	font-style: italic;
	color:grey;
}

#inputText
{

	height: 100px;
	margin-bottom: 15px;
	width:250px;"
    border: 1px solid #B9BDC1;
    color: #797979;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    resize: none;
}

#inputText:focus 
{
    outline: 0;
}