body {
font-size: 16px;
font-family: 'Rosario', sans-serif;
margin: 0 auto;
max-width: 1040px;
padding: 1em;

}

input[type='text'] {
	width: 10em;
}
p.readme {
	text-align: center;
}

div.search-area {
	text-align: center;

}
