body
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#currentTime
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	margin-top:100px;
	color: #fff;
	letter-spacing: -5px;
	font-size: 190px;
	font-weight: lighter;
}

#notification
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: lighter;
}