body
{
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: url("https://scontent-a-cdg.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1503390_10153034378969539_5656232546065106804_n.jpg?oh=014710947e3ef6c5f7fe200adab03f98&oe=556A7496");
}

#currentTime
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	margin-top:100px;
	color: #fff;
	letter-spacing: -5px;
	font-size: 190px;
	font-weight: lighter;
}

#notification
{
	text-align: center;
	line-height: 1;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 30px;
	font-weight: lighter;
}